/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MINE STARTS HERE */

body {
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  min-width: 1200px;
  font-family: Roboto Slab, Courier, sans-serif;
}

.title {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 4em;
  color: rgb(64, 47, 70);
}

.boards-container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 1fr 1fr;
  min-height: 420px;
  max-height: 600px;
  height: 80%;
}

.comp-board {
  margin: 0 auto;
  height: 25vw;
  width: 25vw;
  grid-column: 3/4;
  grid-row: 1/2;
}

.player-board {
  margin: 0 auto;
  height: 25vw;
  width: 25vw;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* .board-wrap:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  gap: 3px;
  background-color: #815355;
}

.info {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.scores-box {
  font-size: 3em;
  text-align: center;
}

.instructions {
  display: none;
  background-color: RGBA(245, 243, 239, 0.4);
  text-align: center;
  margin-top: 30%;
  border-radius: 5px;
  padding: 5% 5%;
}

.grid-cell {
  background-color: #d3a588;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.grid-cell .dot {
  height: 30%;
  width: 30%;
}

.grid-cell .cross {
  height: 100%;
  width: 100%;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
}

button {
  background-color: RGBA(245, 243, 239, 0.7);
  height: 3em;
  width: 7em;
  border-radius: 5px;
  font-family: Roboto Slab, Courier, sans-serif;
  font-size: 1em;
}

.play,
.replay {
  display: none;
}

.ship {
  position: absolute;
  background-color: #494850;
  transition: background-color 0.2s ease;
}

.selected {
  background-color: #494850;
  opacity: 0.5;
}

.invalid-pos {
  background-color: red;
}

.comp-name {
  grid-column: 3/4;
  grid-row: 2/3;
}

.player-name {
  grid-column: 1/2;
  grid-row: 2/3;
}

.comp-name,
.player-name {
  margin: auto;
  padding: 3% 0;
  width: 25vw;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494850;
  color: rgb(231, 220, 220);
  border-radius: 10px;
  font-size: 2em;
}

.faded {
  opacity: 0.3;
  pointer-events: none;
}

.sunk {
  background-color: black;
}
